<!-- <h1>Add a Song</h1>

<form action="{% url 'artisr:add_song' musician.id %}" method="post">
  {% csrf_token %}
  <label for="name">Song Name:</label>
  <input type="text" id="name" name="name" required><br><br>
  <label for="release_date">Release Date:</label>
  <input type="date" id="release_date" name="release_date" required><br><br>
  <label for="num_stars">Number of Stars:</label>
  <input type="number" id="num_stars" name="num_stars" required><br><br>
  <input type="submit" value="Add Song">
</form> -->
<h1>Thêm bài hát mới</h1>
<form action="{% url 'artisr:add_song' musician.id %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Add Song">
{% if error_messsage %}
<strong>{{ error_messsage }}</strong>
{% endif %}
</form>

<a href="{% url 'artisr:results' musician.id%}">Trở về</a>

