{%comment%}
<h1>Thêm bài hát mới</h1>
<form action="{% url 'artisr:add_song' musician.id %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Add Song">
{% if error_messsage %}
<strong>{{ error_messsage }}</strong>
{% endif %}
</form>
<a href="{% url 'artisr:results' musician.id%}">Trở về</a>
{%endcomment%}





<h1>Thêm bài hát mới</h1>
<form action="{% url 'artisr:add_song' musician.id %}" method="post">
    {% csrf_token %}
    <p><strong>Tên bài hát:</strong></p>
    {{ form.name }}
    <p><strong>Ngày xuất bản (y-m-d):</strong></p>
    {{ form.release_date }}
    <p><strong>Số thứ tự Album:</strong></p>
    {{ form.num_stars }}
    <p><strong>Lời bài hát:</strong></p>
    {{ form.song_lyrics }}
    {% if error_messsage %}
        <strong>{{ error_messsage }}</strong>
    {% endif %}
    <br>
    <input type="submit" value="Thêm bài hát">
</form>



